* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c1c1c;
  overflow: hidden;
  height: 100vh;
  font-family: 'VT323', monospace;
}

.bar {
  color: black;
  padding: 16px;
}

.health {
  padding: 16px;
}

.gameBoy {
  width: 375px;
  background: #f8d26d;
  border-radius: 10px;
  margin: 0 auto;
  height: 657px;
  padding-top: 40px;
}

.gameBoyFrame {
  width: 100%;
  height: 477px;
  background: #CDEDFC;
  border: 10px solid #DFA46D;
  box-shadow: inset 0px 0px 0px 10px #E7F6FD;
}

.gameBoyButton {
  width: 68px;
  height: 68px;
  background: #F8D26D;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #DFA46D;
  box-shadow: 0px 7px 0px #724D50;
}

.restartButton {
  width: 292px;
  height: 66px;
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 5px solid #DFA46D;
  background: #F8D26D;
  box-shadow: 0px 7px 0px #724D50;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 24px 0 48px 0;
}

.navigation button:nth-of-type(2) {
  margin: 0 36px;
}

.parameters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 10px;
  padding: 32px 27.5px 0 36.5px;
}

.imgPair {
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.15em;
  color: #724D50;
  padding-right: 10px;
}

.imageFrame {
width: 292px;
height: 280px;
margin: 20px auto 105px auto;
border: 7px solid #9FDCF9;
}

.states {
width: 152px;
height: 130px;
margin: 77px 70px 73px 70px;
}

.lineOne {
width: 162px;
height: 8px;
background: #FFFFFF;
margin: auto;
}

.stateFrame {
  margin-top: 15px;
  background: #E7F6FD;
  font-size: 56px;
  color: #724D50;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Sprite sheets */
@keyframes eating {
  to { background-position: -324px; }
}

.bg-Eating1 {
  width: 162px; 
  height: 130px;
  margin: 77px 70px 73px 70px;
  background: url('./assets/css_sprites.png') -10px -10px;
  animation: eating 1s steps(2) infinite;
}

 @keyframes playing {
  to { background-position: -410px; }
}

.bg-Playing {
  width: 220px; 
  height: 144px;
  margin: 70px 25px 70px 25px;
  background: url('./assets/css_sprites(4).png') -10px -10px;
  animation: playing 1s steps(2) infinite;
}

@keyframes sleeping {
  to { background-position: -314px; }
}

.bg-Sleeping {
  width: 162px; 
  height: 130px;
  margin: 77px 60px 73px 60px;
  background: url('./assets/css_sprites(3).png') -10px -10px;
  animation: sleeping 1s steps(2) infinite;
}
/* the end of sprite sheets */